<button mat-button [matMenuTriggerFor]="aboveMenu">File</button>
<mat-menu #aboveMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="openImportDialog()">Import</button>
  <button mat-menu-item>Export</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Tools</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateToLevelViewer()">Viewer</button>
  <button mat-menu-item (click)="navigateToPlayerList()">Players</button>
  <button mat-menu-item>Enemies</button>
  <button mat-menu-item>Obstacles</button>
</mat-menu>
