<div class="level-editor">
      <h2>Level Viewer</h2>
      <div class="lists">
        <div class="list">
          <h3>Players ({{ (players$ | async)?.length || 0 }})</h3>
          <ul>
            <li *ngFor="let player of players$ | async">
              Player {{ player.ID }} - Type: {{ player.PlayerType }}
            </li>
          </ul>
        </div>

        <div class="list">
          <h3>Enemies ({{ (enemies$ | async)?.length || 0 }})</h3>
          <ul>
            <li *ngFor="let enemy of enemies$ | async">
              Enemy {{ enemy.ID }} - Type: {{ enemy.EnemyType }}
            </li>
          </ul>
        </div>

        <div class="list">
          <h3>Obstacles ({{ (obstacles$ | async)?.length || 0 }})</h3>
          <ul>
            <li *ngFor="let obstacle of obstacles$ | async">
              Obstacle {{ obstacle.ID }} - Type: {{ obstacle.ObstacleType }}
            </li>
          </ul>
        </div>
      </div>
      
      <app-visualizer></app-visualizer>
</div>

